[Unit]
Description=Kubernetes Kubelet
After=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
--bootstrap-kubeconfig=/home/ubuntu/coroutines/pki/bootstrap.kubeconfig  \
--cert-dir=/home/ubuntu/coroutines/pki/kubelet/ \
--kubeconfig=/home/ubuntu/coroutines/pki/kubelet.kubeconfig \
--config=/home/ubuntu/coroutines/pki/kubelet-config.yaml \
--network-plugin=cni \
--pod-infra-container-image=k8s.gcr.io/pause:3.2 \
--alsologtostderr=true \
--logtostderr=false \
--log-dir=/var/log/kubernetes \
--v=4
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target